* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 95%;
    max-width: 1000px;
    height: 90vh;
    background: #111827;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.top-bar {
    height: 60px;
    background: linear-gradient(to right, #0f766e, #065f46);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.video-area {
    flex: 1;
    position: relative;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subtitle-bar {
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #10b981;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
}

.controls {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.btn {
    padding: 10px 25px;
    margin: 0 10px;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.green {
    background: #059669;
    color: white;
}

.red {
    background: #dc2626;
    color: white;
}
